.feed {
    display: flex;
    padding: 0%;
    width:100%;
text-align: left;
}
.principal{
    
    width: 70%;
}
.title{
    font-size: 40px;
    font-weight: bolder;
}
.title_sub{
    color: blue;
}
.subtititle{
   font-size: 22px;
   width: 26em;
   margin-left: 5em;
}
.learnMoreBTN{
    background-color: yellow;
    border-radius: 33px;
    border: none;
    color: black;
    font-size: 22px;
    width: 10em;
    height: 3em;
    margin-right: 30px;
}
.learnMoreBTN:hover{
    background-color: rgb(238, 238, 6);
}
.ladoT{
    display: block;
    background-color: white;
    width: 50%;
}